body{
   margin:0;
   padding:0;    
   background:#23222B;
}
.frase{
  -webkit-text-stroke:2px white;
  font-size:70px;
  margin:0;
  padding:3px;
  width:150px;
  color:rgba(255, 255, 255, 0);
  animation:teste 5s infinite;
  white-space: nowrap;
  overflow:hidden;
}
.conteiner{
  display:flex;
  height:100vh;
  justify-content:center;
  align-items:center;
  background:#23222B;
}
@keyframes  teste {
    0%{
       width:0%;
    }   
    100%{
       width:100%;    
    }
}
.line{
   width:0;
   animation: teste 5s infinite;
}
.rotacionar{
  transform:rotate(90deg);
}
